a[target="_blank"] {
  text-decoration: none;
  style="color: rgb (255, 255, 255)"
}

.menubar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding-top: 10px;
  background: white;
}

.menubar a{
  height: 20px;
  text-decoration: none;
  color: #aaa;
}

.menubar img{
  height: 30%;
  width: auto;
}

.logo{
  text-decoration: none;
  color: #aaa;
}
.logotype{
  text-decoration: none;
  color: #aaa;
  padding-right: 20px;
}
